
.gatePageBackground{background-image: url("./background.png");height:100%;background-color: #28303F; background-size: cover;}
.logo{width: 60%;}
.center{display: 'flex'; justify-content: center; align-items: center; height: '100vh'}