.gatePageBackground {
  background-image: url("../GatePage/background.png");
  height: 100%;
  background-color: #28303f;
  background-size: cover;
}
.logo {
  width: 60%;
}
.center {
  display: "flex";
  justify-content: center;
  align-items: center;
  height: "100vh";
}
